@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(234.43deg, #1C6652 23.77%, rgba(157, 117, 207, 0.352343) 71.57%,
   rgba(106, 130, 251, 0) 99.57%);;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}
.full-height-grow {
  display: flex;
  flex-direction: column ;
  

}

.my-logo {
  display : flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.my-logo-name {
  margin-left : 1rem;


}
.main-nav ul {
display: flex;
margin: 0;
padding: 0;
list-style: none;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem ;
}

.btn {
  color: white;
  background-color: #A493E2 ;
  padding: .75rem 1.5rem;
  text-decoration: none;
  font-size: .97rem;
}